{% extends "base.html" %}

{% block content %}
<script src="https://cdn.tiny.cloud/1/ikjsg21ttf2czf2karye0pt3q5qrlf0tqyau4y9zz6yy3o8n/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea',  // 에디터가 적용될 텍스트 영역을 선택합니다.
        plugins: 'advlist autolink lists link image charmap print preview anchor',
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image',
        width: '100%',
        height: 500,
    });
</script>

<div class="m-3">
    <form method="post" action="/community/check">
        {% csrf_token %}
        <label for="type">게시판:</label>
        <select name="type" id="type">
            <option id="talk" value="talk">잡담</option>
            <option id="overseas" value="overseas">해외축구</option>
            <option id="domestic" value="domestic">국내축구</option>
        </select><br>
        <label for="subject">제목</label>
        <input type="text" id="subject" name="subject" style="width:100%;"><br><br>
        <textarea name="content" id="content"></textarea>
        <div class="d-flex justify-content-end p-2">
            <button class="btn btn-primary" type="submit">작성완료</button>
        </div>
    </form>
</div>

<script>
    console.log({{type }});
    if ({{ type }} == 0){
        document.getElementById("overseas").selected=true;
    }else if ({{ type }} == 1){
        document.getElementById("domestic").selected=true;
    }else if ({{ type }} == 2){
        document.getElementById("talk").selected=true;
    }

</script>
{% endblock %}