{% extends "base.html" %}

{% block content %}

<div class="d-flex">
    <!-- 사이드바 -->
    {% include 'mail/mail_sidebar.html' %}

    <!-- 본문 -->
    <div style="width:800px;">
        <div id="mail_toolbar" class="mt-3 ms-3 p-2"
            style="
                border-top:1px solid gray;
                border-bottom:1px solid gray;">
            <div style="font-size: 30px; font-weight: 600;">
                {{ sent_mail.subject }}
            </div>
            <div>
                <b>보낸사람</b> {{ sent_mail.sender }}
            </div>
            <div>
                <b>받은사람</b> {{ sent_mail.receiver }}
            </div>
            <div>
                {{ sent_mail.timestamp|date:"Y-m-d H:i:s" }}
            </div>
        </div>

        <div id="mail_content" class="mt-3 ms-3 p-2">
            {{ sent_mail.content }}
        </div>
        
    </div>
</div>

<script>
    var receive_btn = document.getElementById("receive_btn");
    receive_btn.classList.remove("active");
    var sent_btn = document.getElementById("sent_btn");
    sent_btn.classList.add("active");
</script>


<!-- <form action="/mail/send/" method="POST">
    {% csrf_token %}
    받는사람<input type="text" value="receiver" id="receiver" name="receiver">
    제목<input type="text" value="subject" id="subject" name="subject">
    내용<input type="text" value="content" id="content" name="content">
    <input type="submit" value="전송">
</form>
받은 메일
<div>

</div>
보낸 메일
{{ sent_mails }} -->


<script>
    var error_msg = "{{ error_msg }}";
    if (error_msg){
        alert(error_msg);
    };
</script>
{% endblock %}