{% extends "base.html" %}

{% block content %}
<style>
    .content1{
        display: flex;
        justify-content: center;
    }
    .banner {
        width:480px;
        height: 270px;
    }
    .hot_community{
        width:480px;
    }
    .content2{
        display: flex;
        justify-content: center;
    }
    .abroad {
        width:320px;
        height: 270px;
    }
    .domestic {
        width:320px;
        height: 270px;
    }
    .chat {
        width:320px;
        height: 270px;
    }
    @media (max-width: 575px) {
        .content1{
            display: block;
        }
        .banner {
            width: 100%;
            height: 100%;
        }
        .hot_community{
            width:100%;
        }
        .content2{
            display: block;
        }
        .abroad {
            width:100%;
        }
        .domestic {
            width:100%;
        }
        .chat {
            width:100%;
        }
    }
</style>
    <div class="content1 m-3 p-2 border">
        <div class="banner border p-2">
            <a href="https://www.youtube.com/watch?v=4jS2bAJf5HI" target="_blank">
                <img src="https://img.youtube.com/vi/4jS2bAJf5HI/maxresdefault.jpg" alt=""
                style="width: 100%; height: 100%;">
            </a>
        </div>


        <div class="hot_community border p-2">
            <div class="fs-5 fw-bold">인기 게시물</div>
            <ol class="p-2">
                {% for hot_post in hot_posts %}
                    <li class="p-1"style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><a href="{% url 'community:post' hot_post.id %}">{{ hot_post.subject }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="content2 m-3 p-2 border">
        {% load static %}
        <div class="abroad p-2 border">
            <div class="fs-5 fw-bold">해외 축구</div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active overflow-hidden">
                    <img src="{% static 'image/1.png' %}" width="100%"height="200px"alt="">
                  </div>
                  <div class="carousel-item overflow-hidden">
                    <img src="{% static 'image/2.png' %}" width="100%"height="200px" alt="">
                  </div>
                  <div class="carousel-item overflow-hidden">
                    <img src="{% static 'image/3.png' %}" width="100%"height="200px" alt="">
                  </div>
                  
                </div>
              </div>
        </div>
        <div class="domestic p-2 border">
            <div class="fs-5 fw-bold">국내 축구</div>
            
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active overflow-hidden">
                    <img src="{% static 'image/a.png' %}" width="100%"height="200px"alt="">
                  </div>
                  <div class="carousel-item overflow-hidden">
                    <img src="{% static 'image/b.png' %}" width="100%"height="200px" alt="">
                  </div>
                  <div class="carousel-item overflow-hidden">
                    <img src="{% static 'image/c.png' %}" width="100%"height="200px" alt="">
                  </div>
                  <div class="carousel-item overflow-hidden">
                    <img src="{% static 'image/d.png' %}" width="100%"height="200px" alt="">
                  </div>
                </div>
              </div>
        </div>
        <div class="chat p-2 border">
            <div class="fs-5 fw-bold">인기 토론방</div>
            <ol class="p-2">
                {% for hot_chat in hot_chats %}
                    <li class="p-1"style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><a href="{% url 'chat:chat_room' hot_chat.id %}">({{ hot_chat.current }}/{{ hot_chat.limit }}) {{ hot_chat.title }} </a></li>
                {% endfor %}
            </ol>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}


