<div id="point_games" class="m-2 p-2 d-flex bg-secondary rounded-3" style="flex-wrap: wrap;">
    <div><button class="btn btn-light m-1 p-1" style="font-size: 0.8rem; white-space: nowrap;" onclick="location.href='/point/roulette'">룰렛</button></div>
    <div><button class="btn btn-light m-1 p-1" style="font-size: 0.8rem; white-space: nowrap;" onclick="location.href='/point/rouletteBat'">룰렛배팅</button></div>
    <div><button class="btn btn-light m-1 p-1" style="font-size: 0.8rem; white-space: nowrap;" onclick="location.href='/point/hardRoulette'">하드룰렛</button></div>
    <div><button class="btn btn-light m-1 p-1" style="font-size: 0.8rem; white-space: nowrap;" onclick="location.href='/point/hardRouletteBat'">하드룰렛배팅</button></div>
    <div><button class="btn btn-light m-1 p-1" style="font-size: 0.8rem; white-space: nowrap;" onclick="location.href='/point/mathBat'">승부예측</button></div>
</div>